:root {
    /**** Color palette ****/
    --main-color: #2f4454;
    --accent-color-1: #2e151b;
    --accent-color-2: #da7b93;
    --accent-color-3: #376e6f;
    --accent-color-4: #1c3334;
    --accent-color-5: #f2f2f2;
    --default-text-color:white;
    


}